# Importing libraries

In [ ]:
import numpy as np
import pandas as pd # Data Manipulation, Data Cleaning, Data Exploration, Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

# Importing dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv("/content/Housing.csv")

In [ ]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

# Data Analysis Part

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [ ]:
#    total values (entries) - non-null values = null values
#    545 - 545 = 0,   so zero null values in dataset

In [ ]:
# null data checking 
df.isnull()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,False,False,False,False,False,False,False,False,False,False,False,False,False
541,False,False,False,False,False,False,False,False,False,False,False,False,False
542,False,False,False,False,False,False,False,False,False,False,False,False,False
543,False,False,False,False,False,False,False,False,False,False,False,False,False
544,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isnull().any()   # it rturn bool value

price               False
area                False
bedrooms            False
bathrooms           False
stories             False
mainroad            False
guestroom           False
basement            False
hotwaterheating     False
airconditioning     False
parking             False
prefarea            False
furnishingstatus    False
dtype: bool

In [ ]:
df.head(10)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
5,10850000,7500,3,3,1,yes,no,yes,no,yes,2,yes,semi-furnished
6,10150000,8580,4,3,4,yes,no,no,no,yes,2,yes,semi-furnished
7,10150000,16200,5,3,2,yes,no,no,no,no,0,no,unfurnished
8,9870000,8100,4,1,2,yes,yes,yes,no,yes,2,yes,furnished
9,9800000,5750,3,2,4,yes,yes,no,no,yes,1,yes,unfurnished

In [ ]:
df.tail(10)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
535,2100000,3360,2,1,1,yes,no,no,no,no,1,no,unfurnished
536,1960000,3420,5,1,2,no,no,no,no,no,0,no,unfurnished
537,1890000,1700,3,1,2,yes,no,no,no,no,0,no,unfurnished
538,1890000,3649,2,1,1,yes,no,no,no,no,0,no,unfurnished
539,1855000,2990,2,1,1,no,no,no,no,no,1,no,unfurnished
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [ ]:
# creating mapping 
# converting string value to numerical value

dataMappingMainroad = {
    
    "yes": 1,
     "no": 0  
    
}

dataMappingGuestroom = {
    "yes": 1,
    "no": 0
    
}

dataMappingBasement = {
    "yes": 1,
    "no": 0
}

dataMappingHotwaterheating = {
    "yes": 1,
    "no": 0    
}

dataMappingAirconditioning = {
    "yes": 1,
    "no": 0   

    
}


dataMappingPrefarea = {
    "yes": 1,
    "no": 0

}

dataMappingFurnishingstatus = {
    
    "furnished": 3,
    "semi-furnished": 2,
    "unfurnished": 0
    
}

In [ ]:
df['numMainroad'] = df['mainroad'].map(dataMappingMainroad)
df['numGuestroom'] = df['guestroom'].map(dataMappingGuestroom)
df['numBasement'] = df['basement'].map(dataMappingBasement)

df['numHotwaterheating'] = df['hotwaterheating'].map(dataMappingHotwaterheating)
df['numAirconditioning'] = df['airconditioning'].map(dataMappingAirconditioning)
df['numPrefarea'] = df['prefarea'].map(dataMappingPrefarea)

df['numFurnishingStatus'] = df['furnishingstatus'].map(dataMappingFurnishingstatus)

df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,numMainroad,numGuestroom,numBasement,numHotwaterheating,numAirconditioning,numPrefarea,numFurnishingStatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished,1,0,0,0,1,1,3
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished,1,0,0,0,1,0,3
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished,1,0,1,0,0,1,2
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished,1,0,1,0,1,1,3
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished,1,1,1,0,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished,1,0,1,0,0,0,0
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished,0,0,0,0,0,0,2
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished,1,0,0,0,0,0,0
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished,0,0,0,0,0,0,3
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished,1,0,0,0,0,0,0

In [ ]:
df.shape      # rtuen no. of rows and columns

(545, 20)

In [ ]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking,numMainroad,numGuestroom,numBasement,numHotwaterheating,numAirconditioning,numPrefarea,numFurnishingStatus
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578,0.858716,0.177982,0.350459,0.045872,0.315596,0.234862,1.603670
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586,0.348635,0.382849,0.477552,0.209399,0.465180,0.424302,1.186933
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000

In [ ]:
df.columns    # it retuns colmns title name

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus', 'numMainroad',
       'numGuestroom', 'numBasement', 'numHotwaterheating',
       'numAirconditioning', 'numPrefarea', 'numFurnishingStatus'],
      dtype='object')

In [ ]:
df['price'].isnull().any()

False

In [ ]:
df['area'].isnull().any()

False

In [ ]:
df['bedrooms'].isnull().any()

False

In [ ]:
df['bathrooms'].isnull().any()

False

In [ ]:
df['stories'].isnull().any()

False

In [ ]:
df['mainroad'].isnull().any()

False

In [ ]:
df['guestroom'].isnull().any()

False

In [ ]:
df['basement'].isnull().any()

False

In [ ]:
df['hotwaterheating'].isnull().any()

False

In [ ]:
df['airconditioning'].isnull().any()

False

In [ ]:
df['parking'].isnull().any()

False

In [ ]:
df['prefarea'].isnull().any()

False

In [ ]:
df['furnishingstatus'].isnull().any()

False

In [ ]:
df['numGuestroom'].isnull().any()

False

In [ ]:
df['numBasement'].isnull().any()

False

In [ ]:
df['numHotwaterheating'].isnull().any()

False

In [ ]:
df['numAirconditioning'].isnull().any()

False

In [ ]:
df['numPrefarea'].isnull().any()

False

In [ ]:
df['numFurnishingStatus'].isnull().any()

False

# Machine Learning part

In [ ]:
df.isnull().any()

price                  False
area                   False
bedrooms               False
bathrooms              False
stories                False
mainroad               False
guestroom              False
basement               False
hotwaterheating        False
airconditioning        False
parking                False
prefarea               False
furnishingstatus       False
numMainroad            False
numGuestroom           False
numBasement            False
numHotwaterheating     False
numAirconditioning     False
numPrefarea            False
numFurnishingStatus    False
dtype: bool

In [ ]:
# feature variable 
X = df[['area', 'bedrooms', 'bathrooms', 'stories','parking',  'numMainroad', 'numGuestroom', 'numBasement', 
        'numHotwaterheating', 'numAirconditioning', 'numPrefarea', 'numFurnishingStatus' ]]  
y = df.price # target variable

In [ ]:
df.ndim

2

In [ ]:
X.ndim

2

In [ ]:
y.ndim

1

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.20 , random_state = 0)

In [ ]:
len(X_train)

436

In [ ]:
len(X_test)

109

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X_train, y_train) # np.array([X_train]).reshape(-1,1)

LinearRegression()

In [ ]:
y_pred = model.predict(X_train) # np.array([X_test]).reshape(-1,1)

In [ ]:
y_pred      # model predicted

array([2602013.4997675 , 2698252.60406492, 2017788.87225577,
       2596948.28375185, 4648898.09889123, 3151703.66375143,
       4466777.94362656, 7021264.64305091, 2607078.71578315,
       4245007.93439818, 8418269.6009044 , 2446743.78277267,
       5213152.42487392, 2730925.36325382, 4864890.5763216 ,
       2679780.33551624, 3246055.10676112, 7412885.15232944,
       5086578.68664967, 5075274.33395007, 3739259.30839929,
       4666844.05611724, 3225979.22688705, 5525989.85616987,
       2607078.71578315, 4725672.17594089, 8587591.40114406,
       4474802.66445172, 2967458.29048441, 4272049.40606109,
       2007658.44022447, 4898741.01099204, 4976166.71719998,
       6273304.75315391, 4824839.8983315 , 6584283.4640267 ,
       7297922.53095594, 4822955.0998762 , 7318242.95911165,
       6363566.60298997, 3768634.3137576 , 6007918.3976062 ,
       3250898.47857085, 2656589.34303379, 6840805.79268926,
       5877117.53692747, 5718398.58271225, 9736018.19052191,
       7648362.55890612, 4604295.20573358, 2941382.97281629,
       4119650.53189335, 3089146.13007017, 6271956.71856081,
       6324063.90128663, 4246280.93228469, 3594608.76442642,
       3938678.02489273, 3201633.87523559, 3905395.14618024,
       2322239.16199468, 4133352.1368606 , 6489189.93470095,
       4941987.67624406, 3738095.52807262, 7620674.45721338,
       3326347.2352011 , 2647600.44390838, 4331307.06054704,
       3205703.1599721 , 3942715.16041559, 4669433.72566697,
       6104241.55183848, 4843485.67043871, 5662640.06572889,
       4521389.77548305, 3615417.44172404, 4607394.86737979,
       3215776.53046151, 6542257.13098689, 3445693.97328819,
       6618719.74083862, 5498605.82877251, 3727685.35495689,
       2130159.93659918, 7743835.93759787, 5531277.44087505,
       8250602.10437312, 5831404.7596271 , 7099447.95929417,
       5492957.27178806, 6783300.45203636, 1984864.96815403,
       6214067.93952278, 4543540.22639459, 3190450.45038324,
       8368364.62963346, 7027641.2366807 , 3061889.18998287,
       4920806.15288555, 6489735.77584148, 4259418.36648095,
       6093904.22382453, 6170028.17303545, 4926197.6870922 ,
       4920020.76803861, 5647816.14114653, 3357729.93274148,
       3168258.72631159, 6251237.68786972, 4869625.80033237,
       4560757.81690986, 3455261.38923216, 6559070.0233213 ,
       7249971.50629104, 2604546.10777533, 7255751.37620997,
       3343343.24285188, 3736069.38426659, 5831877.7818567 ,
       6005284.58358231, 3160995.46628835, 4414025.03396187,
       3667624.60625593, 4168420.9503961 , 2848548.36932662,
       2382322.87269863, 6580846.65865848, 2753479.228544  ,
       3573204.25156997, 3473043.58005073, 4826785.49487672,
       4847463.14451879, 4107365.54552223, 5790498.5629521 ,
       6582572.158077  , 6018634.58201695, 5972221.52351922,
       2929340.68066424, 3347472.1468685 , 7088830.65726302,
       6538853.8843297 , 3174382.90953635, 7914254.99745877,
       3392406.95219475, 4424226.7763771 , 6215175.04911462,
       2168479.04872147, 3983164.60202816, 2970183.76528247,
       3108626.36561538, 4312730.48848698, 6817994.65391737,
       3580544.3479828 , 3839290.23779941, 4956378.29367335,
       4886793.16640361, 5824845.40825878, 7173586.5150613 ,
       3407382.84625642, 5607860.04595782, 4216947.33093929,
       4748200.68052044, 3192431.11969144, 7558992.37425017,
       4572272.09848853, 3355069.97089198, 4905137.06798766,
       3538634.28807689, 4514958.42630754, 5081719.34733818,
       3470430.98908977, 5781728.44204455, 5149807.6859942 ,
       3127246.24649326, 4113347.72794803, 3220719.09126708,
       6030864.71745734, 2783424.964332  , 5149977.81649234,
       3343880.57165157, 5264206.27744552, 3451910.76578843,
       2601160.60685586, 4258847.63183471, 4030332.01189219,
       4754610.73864901, 6689837.22167922, 6403035.97706908,
       4928657.99692054, 7345274.37598897, 5360739.45203417,
       4036794.93049845, 4977344.52590991, 2511852.65468887,
       5119008.37308795, 4683177.36722835, 4806765.52221012,
       4126476.73057409, 4487536.55515076, 7186638.52246257,
       2735596.16806549, 7692687.23336717, 5171563.88434445,
       7201182.02747835, 3164789.80630474, 3044367.00822555,
       2490578.74742312, 4746248.56022783, 3382606.51216833,
       6487018.36281392, 4616749.74710029, 3199838.9858086 ,
       4103438.51536859, 5316736.7352508 , 2746579.49300843,
       2698252.60406492, 5148638.62066088, 6198868.33649284,
       6567347.05916647, 4752370.56416558, 2926472.12538703,
       5775483.22460952, 3726638.94483365, 3215776.53046151,
       3212440.83884121, 3112978.16706872, 2517501.12351019,
       4084446.46724616, 5326321.94315394, 5220294.37771935,
       5191966.63142906, 7283853.54251697, 4808913.67619894,
       4049500.54182559, 5765930.25300282, 7046290.34870008,
       6093885.39300473, 6103246.12776543, 2681537.39121326,
       3365272.66731753, 6299458.20173959, 4340791.81473629,
       2888198.20465193, 6971009.35410387, 3611837.52541149,
       3278218.43546454, 4871093.21361196, 6407767.85321078,
       4499541.73306737, 2858652.56458424, 2906547.2085938 ,
       4001245.75171364, 3938061.95010465, 2708383.03609622,
       6518631.82546826, 6833111.49769682, 5080458.91643493,
       8252136.2198089 , 5675385.568976  , 5964218.92391534,
       6653092.80321737, 7534954.74809285, 5991485.42816118,
       6537554.84318645, 7206235.41135005, 3442832.00070879,
       6652175.71903027, 4179019.06395461, 4639795.10060047,
       3596346.94345722, 3055891.09810244, 4938487.94903908,
       4171295.53834049, 4265695.95173673, 4790460.76046103,
       2176406.86474983, 3635317.56696083, 6984936.20108407,
       5477268.08393587, 5831156.78132205, 4198193.4812387 ,
       3228439.57050064, 4145191.78856663, 5624044.52292344,
       2996704.80192339, 8314018.56393137, 3920662.18255839,
       7403127.05065825, 3728299.66004155, 4048201.36095042,
       7391922.95522386, 5239074.78704175, 3814323.51082756,
       2803748.845201  , 3123666.33018071, 3547504.81520283,
       4281829.99988471, 2684316.1310012 , 3876269.01822914,
       6889763.90919089, 6222741.22908911, 4052029.31045686,
       3824585.34144555, 8592738.34870232, 3051758.75795156,
       2243190.98495236, 5381252.59986557, 4171755.4254357 ,
       8200973.67302997, 3968882.81088515, 7997626.2219851 ,
       7788818.00924379, 6752905.20275848, 4424226.7763771 ,
       6898704.74697164, 3510283.46257828, 3723958.84723476,
       2222439.36919664, 3471079.18755891, 5731677.08246864,
       5976569.86076788, 3958451.42464184, 6541353.83591779,
       2932441.50418807, 4542971.92181221, 3748668.5694143 ,
       5581451.41433021, 6717360.05455717, 2682437.71462208,
       6525015.17072686, 4413053.30541385, 3118269.98629908,
       8182711.4462884 , 5778192.98095135, 4774398.51110403,
       2583348.93171368, 3019642.67614607, 5086621.76249798,
       6902185.45251912, 4523808.84593653, 3804815.22907604,
       5219173.10330098, 4550808.6858465 , 3964494.21650401,
       5798217.0573556 , 3112011.86653485, 4203456.30732191,
       6307701.63374686, 5264038.25958532, 6354191.48404022,
       3073816.0355591 , 6163627.05650655, 5790997.31518716,
       8067202.93849956, 3675161.46898377, 4872002.22064733,
       4593526.33609207, 4258291.8335092 , 3911825.24531501,
       4535849.73569588, 3811011.67669504, 2799556.92437799,
       5129120.48943758, 5320033.19074842, 6231580.20367134,
       4459734.51104419, 5602705.07215085, 5178784.49093329,
       3953935.4242539 , 5446528.29051738, 6184014.61010331,
       7502680.70224788, 5298072.45030764, 3702958.97006334,
       4478407.57381212, 4074867.97391448, 5179905.80997837,
       2569905.26315715, 6698802.50775382, 2609358.0629902 ,
       3379773.90069046, 3572252.10928529, 3248209.68287015,
       2902613.22418149, 5761901.06963659, 8083660.84580541,
       2746912.92114757, 4047454.84613431, 6249078.42501027,
       3602777.4718508 , 4180570.75620375, 9196463.10228344,
       3767619.9908999 , 3731492.25205914, 6145842.41600038,
       4412836.07055879, 5063552.86061975, 6522138.86231575,
       3448159.80852936, 7045928.03417717, 5110984.06454371,
       3165124.37030497, 4793312.43750822, 4199987.38731506,
       4113191.65803212, 7052466.89099154, 2662305.34026224,
       6062831.98056878, 7468960.59702504, 5082926.09273733,
       2571622.20367358, 2100428.62451503, 5814963.89074379,
       5348936.23614368, 4006334.03789519, 4709126.0474372 ,
       2758098.88425373, 5193206.62071202, 4702903.49297663,
       5733290.90533456, 3500315.17595461, 4361222.4383659 ,
       6895835.57138619, 5935524.44328825, 4837917.63407867,
       3915370.73096329, 3548149.92748561, 3701423.86106107,
       3167767.97461849, 4278536.96746914, 6480815.80893985,
       5562525.31821563, 7735140.43657225, 2937423.30111633,
       5412446.35594367])

In [ ]:
y_test    # actual value

239    4585000
113    6083000
325    4007500
66     6930000
479    2940000
        ...
76     6650000
132    5810000
311    4123000
464    3080000
155    5530000
Name: price, Length: 109, dtype: int64

In [ ]:
# ['area', 'bedrooms', 'bathrooms', 'stories',
#     'parking',  'numMainroad', 'numGuestroom', 'numBasement', 
#       'numHotwaterheating', 'numAirconditioning', 'numPrefarea', 'numFurnishingStatus' ]

model.predict([[  7850, 3, 2, 2, 
                2, 0, 1, 0, 
                0, 1, 1, 2
                ]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([7525640.88173442])

In [ ]:
model.score(X,y)

0.678410259073752